body {
	font-family: verdana, arial, helvetica, sans-serif;
 	margin: 0 0 0 0;
}

.jumbotron {
	background: url('images/beach.jpg') no-repeat center center;
	background-size: cover;
	height: 100vh;
	width: auto;
}

.container {
	margin: 0 auto;
	background-color: #4982AC;
	height: 100vh;
}

.main {
	text-align: center;
	padding-top: 30vh;
	color: #EEE;
}

.main h1 {
	font-weight: 600;
	font-size: 2.25em;
	margin-top: 0;
}

.main h4 {
	font-weight: 600;
	margin-top: 0;
}

#IDPhoto {
	height: 200px;
	width: 200px;
	background: url('images/profile.jpg') no-repeat center center;
	background-size: contain;
	overflow: hidden;
	border-radius: 50%;
	border: 2px solid #000;
	margin: 0 auto;
}

.content{
	margin: 0 auto;
	max-width: 950px;
	height: 100vh;
	padding: 5px;
	vertical-align: top;
	padding: 5px;
	font: 0.8em Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}
.content p{
	text-align: left;
}
#title h1,h3,p{
text-align: center;
}
.content p a {
	text-decoration: none;
	color: #000;
}
.content p a:hover{
	color: #6C6;
}

.navigation {
	text-align: center;
	margin: 0 auto;
	width: auto;
	display: inline-block;
}

.navigation ul {
	list-style: none;
	width: auto;
	border-top: 2px solid #EEE;
}

.navigation ul li {
	display: inline;
	padding: 0 30px;
}

.navigation ul li a {
	color: #EEE;
	font: bold 1.5em Arial;
	opacity: 1;
	text-decoration: none;
	/*Creates a fading effect during rollover*/
	-moz-transition: color 0.5s ease-out;
	-webkit-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}

.navigation ul li a:hover {
	color: #999;
}

.footer {
	display: table-cell;
	width: 100vw;
	padding: 5px;
	text-align: center;
	height: 100px;
	background-color: #2E4F68;
	text-align: center;
	vertical-align: middle;
}

.footer p{
	color: #9AB5B7;
	font-size: 0.75em;
	float: right;
	margin-right: 5%;
}
