
body {
	font-family: arial, helvetica, sans-serif;
 	margin: 0 0 0 0;
}

.jumbotron {
	position: static;
	background: rgba(61,97,116,1);
	background: url('../images/beach_lge.jpg') no-repeat center center;
	background-size: cover;
	height: 100vh;
	width: auto;
	color: #FFF;
}

.container {
	position: relative;
	margin: 0 auto;
	background-color: #FFF;
	min-height: 100vh;
	border-top: 1px solid #fff;
}

.main {
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 60%;
	max-width: 400px;
	transform: translate(-50%,-50%);
	z-index: 0;
}

#banner_content {
	background-color: rgba(0,0,0,0.3);
	padding: 5px;
	border-radius: 50px;
}

.main h1 {
	font-size: 2.25em;
	font-family: 'Acme', sans-serif;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	color: #508AA8;
}
h3 {
	font-size: 0.8em;
	font-weight: lighter;
	color: #031927;
	font-style: italic;
	margin-top: -1em;
}

.main h4 {
	font-weight: 600;
	margin-top: 0;
}

#IDPhoto {
	height: 45vw;
	width: 45vw;
	max-width: 200px;
	max-height: 200px;
	background: url('../images/profile_lge.png') no-repeat center center;
	background-size: contain;
	overflow: hidden;
	border-radius: 50%;
	border: 2px solid #fff;
	margin: 0 auto;
}

.content{
	margin: 0 auto;
	margin-top: 1em;
	max-width: 1150px;
	width:100%;
	min-height: 100vh;
	vertical-align: top;
	font: 1.2em Arial, Helvetica, sans-serif;
	text-align: left;
	color: #031927;
}
.content p{
	text-align: left;
}
.content h1 {
	color: #CF5C36;
	font-family: 'Acme', sans-serif;
	margin: 0;
}
.content p a {
	text-decoration: none;
	color: #cf5c36;
}
.content p a:hover{
	text-decoration: underline;
}

.main ul {
	padding: 10px 0 10px 0;
	margin: 0 auto;
	width: 100%;
}
.main ul li {
	display: inline-block;
	margin-left: 30px;
}
.main ul li:first-of-type {
	margin-left: 0;
}
.main ul li img {
	width: 50px;
}
.navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 2px solid #FFF;
}

.navigation ul li {
	display: inline-block;
	padding: 5px 0px;
	z-index: 0;
}

.navigation ul li button {
	outline: none;
	border: none;
	background: transparent;
	color: #fff;
	font: bold 1.5em Arial;
	text-decoration: none;
	/*Creates a fading effect during rollover*/
	-moz-transition: color 0.3s ease-out;
	-webkit-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
	cursor: pointer;
}

.navigation ul li button:hover {
	color: #508AA8;
}

.content ul {
	margin: 0;
}
.content ul li {
	margin: 0;
}
.content ul li button {
	background-color: #fff;
	outline: none;
	border: 2px solid #ddd;
	width: 200px;
	height: 200px;
	border-radius: 5px;
	-moz-transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
	-o-transition: background 0.3s ease-out;
	transition: background 0.3s ease-out;
}
.content ul li#infosysLi {
	float: right;
}
.content ul li button:hover {
	background-color: #508AA8;
}

.footer {
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #031927;
	border-top: 1px solid #031927;
	z-index: 2;
}

.footer p{
	color: #508AA8;
	font-size: 1em;
	text-align: right;
	padding-top: 25px;
	width: 90%;
}

.projects {
	background: #DDD;
	height: 100vh;
	display: block;
}

.projects li{
	display: block;
	background: #fff;
}
.post {
	margin: 0 auto;
	margin-bottom: 1em;
	overflow: auto;
	width: 90%;
	border-bottom: 1px solid #888;
}

.post:last-of-type {
	border: 0;
}
#text {
	width: 100%;
}
#pic_right {
	width: 40%;
	float: right;
	margin: 0 0 1em 1em;
}
#pic_right img {
	width: 100%;
}
#pic_right p {
	font-size: 0.7em;
	color: #508aa8;
	font-weight: bold;
	margin-top: -3px;
}

#pic_centre {
	width: 100%;
	margin: 1em 0;
}
#pic_centre img {
	width: 100%;
}
#pic_centre p {
	font-size: 0.7em;
	color: #508aa8;
	font-weight: bold;
	margin-top: -3px;
}

button.top {
	background-color: #FFF;
	float: right;
	margin-bottom: 0.5em;
	height: 1.2em;
	width: 1.2em;
	border-radius: 100%;
	border: 3px solid #CF5C36;
	font-size: 2em;
	color: #CF5C36;
	outline: none;
	text-decoration: none;
	-moz-transition: border-color 0.3s ease-out;
	-webkit-transition: border-color 0.3s ease-out;
	-o-transition: border-color 0.3s ease-out;
	transition: border-color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	-webkit-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}

button.top:hover{
	border-color: #508AA8;
	color: #508AA8;
}

@media only screen and (max-width: 480px){
	.post #text {
		display: block;
		width: 100%;
	}
	.post #pic_right {
		display: block;
		width: 100%;
	}
	.main ul li img {
		width: 40px;
	}
	#pic_right {
		margin: 1em 0 2em 0;
	}
	#IDPhoto {
		background: url('../images/profile_sml.png') no-repeat center center;
	}
}
